@{
    ViewData["Title"] = "Tablica";
}
<h1>@ViewData["Title"]</h1>

<table class="table table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Broj dokumenta</th>
            <th scope="col">Datum</th>
            <th scope="col">Partner</th>
            <th scope="col">Iznos</th>
            <th scope="col">Status</th>
            <th scope="col">Dospijeće</th>
            <th scope="col">Plaćanje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>19.04.2020</td>
            <td>Git</td>
            <td>1200</td>
            <td>U tijeku</td>
            <td>20.05.2021</td>
            <td>Kartično</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>19.04.2020</td>
            <td>Git</td>
            <td>1200</td>
            <td>U tijeku</td>
            <td>20.05.2021</td>
            <td>Kartično</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>19.04.2020</td>
            <td>Git</td>
            <td>1200</td>
            <td>U tijeku</td>
            <td>20.05.2021</td>
            <td>Kartično</td>
        </tr>

    </tbody>
</table>